.settings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.settings__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile__name {
  font-size: 1.25rem;
  max-width: 155px;
  text-align: center;
}

.settings__content {
  display: grid;
  grid-template-areas:
    "general general"
    "contact address"
    "site site"
    "button button";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 64px;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  overflow-y: scroll;
  justify-content: center;
  justify-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.hospital-general-data {
  grid-area: general;
  display: grid;
  grid-template-areas:
    "image name"
    "image cnpj";
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  column-gap: 46px;
  margin-top: 32px;
}

.hospital-general-data__image {
  grid-area: image;
  border-radius: 100%;
  width: 224px;
  height: 224px;
}

.hospital-general-data__title {
  grid-area: name;
  font-size: 2rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
  margin-top: 32px;
}

input:disabled, textarea:disabled {
  background-color: #F5F5F5;
}

.hospital-general-data__cnpj-container {
  grid-area: cnpj;
  display: flex;
  align-items: center;
  gap: 12px;
}

.cnpj__label {
  font-size: 1.125rem;
}

.cnpj__input {
  border: var(--input-border);
  border-radius: 5px;
  width: 228px;
  height: 32px;
  font-size: 0.875rem;
  font-family: "Abel";
  padding-left: 12px;
}

.hospital-contact-data {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hospital-contact-data__title {
  font-size: 2rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-contact-data div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hospital-contact-data label {
  font-size: 1.125rem;
}

.hospital-contact-data input {
  border: var(--input-border);
  border-radius: 5px;
  width: 228px;
  height: 32px;
  font-size: 0.875rem;
  font-family: "Abel";
  padding-left: 12px;
}

.email__input {
  margin-left: 14px;
}

.website__input {
  margin-left: 30px;
}

.hospital-address-data {
  grid-area: address;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hospital-address-data__title {
  font-size: 2rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-address-data div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hospital-address-data label {
  font-size: 1.125rem;
}

.hospital-address-data input {
  border: var(--input-border);
  border-radius: 5px;
  width: 228px;
  height: 32px;
  font-size: 0.875rem;
  font-family: "Abel";
  padding-left: 12px;
}

.cep__input {
  margin-left: 20px;
}

.city__input {
  margin-left: 3px;
}

.neighborhood__input {
  margin-left: 10px;
}

.complement__input {
  width: 184px !important;
}

.number__input {
  width: 68px !important;
}

.hospital-donation-site-data {
  grid-area: site;
  display: grid;
  grid-template-areas:
    "title title"
    "site other-site";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 36px;
  row-gap: 18px;
}

.hospital-donation-site-data__title {
  grid-area: title;
  font-size: 2rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-donation-site-data__site-container {
  grid-area: site;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.site__label {
  font-size: 1.125rem;
}

.site__textarea {
  border-radius: 5px;
  border: var(--input-border);
  resize: none;
  width: 336px;
  height: 146px;
  padding: 12px 12px;
  font-family: "Abel";
  font-size: 0.875rem;
}

.hospital-donation-site-data__other-site-container {
  grid-area: other-site;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-site__label {
  font-size: 1.125rem;
}

.other-site__textarea {
  border-radius: 5px;
  border: var(--input-border);
  resize: none;
  width: 336px;
  height: 146px;
  padding: 12px 12px;
  font-family: "Abel";
  font-size: 0.875rem;
}

.hospital-actions {
  grid-area: button;
  display: flex;
  gap: 42px;
  margin-bottom: 32px;
}

.hospital-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #7395f7;
  border-radius: 5px;
  width: 168px;
  height: 42px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
}
