.settings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.settings__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.settings__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  overflow-y: scroll;
  justify-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.hospital-general-data {
  width: 100%;
}

.hospital-general-data__image-container {
  background-color: #DEDEE5;
  display: flex;
  justify-content: center;
}

.hospital-general-data__image {
  width: 608px;
  height: 408px;
}

.hospital-general-data__title {
  font-size: 2.75rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
  margin: 12px 0px;
  text-align: center;
}

input:disabled, textarea:disabled {
  background-color: #F5F5F5;
}

.hospital-general-data__cnpj-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cnpj__label {
  font-size: 1.5rem;
}

.cnpj__input {
  border: var(--input-border);
  border-radius: 5px;
  width: 272px;
  height: 42px;
  font-size: 1.5rem;
  font-family: "Abel";
  padding-left: 12px;
}

.hospital-contact-data {
  display: grid;
  justify-content: center;
  gap: 16px;
  max-width: 1200px;
  width: 100%;
}

.hospital-contact-data__title {
  font-size: 2.5rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-contact-data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.hospital-contact-data-container div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hospital-contact-data label {
  font-size: 1.5rem;
}

.hospital-contact-data-container input {
  border: var(--input-border);
  border-radius: 5px;
  width: 272px;
  height: 42px;
  font-size: 1.5rem;
  font-family: "Abel";
  padding-left: 12px;
}

.email__input {
  width: 308px !important;
}

.phone__input {
  width: 192px !important;
}

.website__input {
  width: 324px !important;
}

.hospital-address-data {
  display: grid;
  justify-content: center;
  gap: 16px;
  max-width: 1080px;
  width: 100%;
}

.hospital-address-data__title {
  font-size: 2.5rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-address-data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.hospital-address-data-container div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hospital-address-data label {
  font-size: 1.5rem;
}

.hospital-address-data input {
  border: var(--input-border);
  border-radius: 5px;
  width: 272px;
  height: 42px;;
  font-size: 1.5rem;
  font-family: "Abel";
  padding-left: 12px;
}

.state__input {
  width: 68px !important;
}

.complement__input {
  width: 184px !important;
}

.number__input {
  width: 68px !important;
}

.hospital-donation-site-data {
  display: grid;
  grid-template-areas:
    "title title"
    "site other-site";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 36px;
  row-gap: 18px;
}

.hospital-donation-site-data__title {
  grid-area: title;
  font-size: 2.5rem;
  font-family: "Abel";
  color: #000;
  font-weight: normal;
}

.hospital-donation-site-data__site-container {
  grid-area: site;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.site__label {
  font-size: 1.5rem;
}

.site__textarea {
  border-radius: 5px;
  border: var(--input-border);
  resize: none;
  width: 516px;
  height: 192px;
  padding: 12px 12px;
  font-family: "Abel";
  font-size: 1.5rem;
}

.hospital-donation-site-data__other-site-container {
  grid-area: other-site;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.other-site__label {
  font-size: 1.5rem;
}

.other-site__textarea {
  border-radius: 5px;
  border: var(--input-border);
  resize: none;
  width: 516px;
  height: 192px;
  padding: 12px 12px;
  font-family: "Abel";
  font-size: 1.5rem;
}

.hospital-actions {
  grid-area: button;
  display: flex;
  gap: 42px;
  margin-bottom: 62px;
}

.hospital-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #7395f7;
  border-radius: 5px;
  width: 208px;
  height: 56px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
}

.hospital-actions img {
  width: 22px;
}