.text_dowload {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
}
span {
  font-size: 4rem;
}
h1 {
  font-size: 5rem;
  color: white;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 2.5rem;
}

.texto1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.baixar_app {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 95%;
  justify-content: center;
  height: 58%;
}
.buttons_download {
  display: grid;
  gap: 40%;
  align-items: center;
  width: 100%;
  justify-items: center;
}
.app {
  display: grid;
  justify-content: center;
  width: 60%;
  height: 25vw;
  align-items: center;
  gap: 20%;
}
.app_store {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  font-family: "Abel", sans-serif;
  border: none;
  border-radius: 12px;
  gap: 5%;
  justify-content: center;
  width: 60%;
  transition: all 0.5s;
}
.google_play {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  font-family: "Abel", sans-serif;
  border: none;
  border-radius: 12px;
  gap: 5%;
  justify-content: center;
  width: 60%;
  transition: all 0.5s;
}

.text1 {
  width: 60%;
  display: flex;
  font-size: 2.2rem;
  font-family: "Oswald", sans-serif;
  color: #747474;
  align-items: center;
  margin-left: 10%;
  line-height: 2;
}

.celular2 {
  display: none;
}

.celular_celular {
  display: none;
}
