.menu {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 80px;
}
.menu_lateral_A{
    display: none;
}
.menu_lateral_B{
display: none;
}

.menu li{
    border-bottom: 3px solid transparent;
    transition: border-color .5s;

}
.menu li:hover{
    border-bottom: 3px solid white;
  
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 8%;
    background-color: rgb(255, 255, 255);
    color: #3956BD ;
    border: none;
    border-radius: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    transition: all .5s;
    cursor: pointer;
}

.button:hover {
    background-color: #3956BD;
    color: #ffffff;
  }