@media screen and (max-width:900px){
    :root{
        --space-default:60px;
    }
   
    #body{
        background-image: url(../../img/tablet.png);
        max-width: 100%; 
        height: auto; 
    }

    .button{
        width: 9%;
        font-size: 1rem;
    }
    .menu {
        font-size: 2rem;
        width: 80%;
    }

    span{
        font-size: 2rem ;
    }
    h1{
        font-size: 3rem ; 
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 2rem;
    }

    h2{
        color:  #4d4c4c;
    }
    .text1{
        width: 90%;
        margin-left: 5%;
        height: 70vw;
        align-items: initial;
    }
    .texto1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .celular{
        display: none;
    }
    .celular2{
        display: flex;
    }
   
    .card-historias{
        height: 30vw;
        width: 40vw;
    }
    .card-historias-pessoas{
        width: 35vw;
    }
    h7{
        font-size: 1rem;
    }
    h8{
        font-size: 1rem;
        color: black;
    }
    .foto{
        width: 8vw;
    }
    .sobre-nos {
        display: grid;
        width: auto;
        height: 130vw;
        padding: 50px;
    }
   .ajuda{
    height: 12vw;
   }
    .card-ajuda{
        gap: 60px;
    }
    .contato-item {
        padding: 10px;
    }
    i{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1rem;
    }
    .social-container{
        gap: 20px;
    }
    .copyright{
        font-size: 1rem;
    }
    .icon{
        width: 4vw;
    }
}

 /* MOBALE */
 @media screen and (max-width:375px){
   
    #body{
        background-image: url("../../img/PAG_WEB_RESPONSIVO.png");
    }
    /* main{
        display: none;
    } */

    header{
        
        margin: 10px 10px 0 0;
        
    }
    .menu_header{
        display: none;
    }
    .button{
        height: 40px;
        width: 25%;
        font-size: 1rem;
    }
    .menu{
        display: none;
    }

    .menu_lateral_A{
        display: flex;
       background-color: transparent;
       border: none;
    }
    .menu_lateral_A:hover {
        background-color: transparent;
    }

    .baixar_app{
        display: flex;
        align-items: center;
        height: 40vw;
        justify-items: center;
    }
    .text_dowload{
        display: grid;
        width: 90%;
        align-items: center;
        justify-items: center;
    }
    
    .celular2{
        display: none;
    }
    span{
        font-size: 1rem ;
    }
    h1{
        font-size: 2rem ; 
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .celular_celular{
        display: flex;
        width: 80%;
    }
    h7{
        font-size: 1rem;
    }
    h8{
        font-size: 1rem;
    }
    .title {
        font-size: 4rem;
        margin-bottom: 20px;
        align-items: end;
        height: 30vw;
    }
    .app{
        width: auto;
        justify-items: center;
    }
    .text1{
        width: 92%;
        height: 250vw;
        align-items: end;
        justify-content: center;
    }
    .icon_button{
        width: 8vw;
    }
    .buttons_download{
        width: 85%;
    }
    .historias-div {
        display: grid;
        gap: 20px;
        width: 100%;   
        margin-top: 30px;
    }
    .card-historias{
        height: 65vw;
        width: 80vw;
    }
    .card-historias-pessoas{
        width: 70vw;
    }
    .foto{
        width: 15vw;
    }
    .sobre-nos{
        padding: 20px;
        height: 160vw;
    }
   
   .ajuda {
        display: grid;
        height: 50vw;
    
    }
    .card-ajuda{
       display: grid;
        gap: 2px;
        justify-items: center;
    }
    .contato-item {
        padding: 10px;
    }
    i{
        font-size: 1.5rem;
    }
    h6{
        font-size: 1rem;
    }
    .social-container{
        gap: 20px;
    }
    .copyright{
        font-size: 1rem;
    }
    .icon{
        width: 8vw;
    }
   
    footer{
        display: none;
        /* width: 100%; */
    }




    .a_menu{
        text-decoration: none;
        
    }
    .ul_menu{
        list-style: none;
    }
    .menu_lateral1{
        width: 40px;
    }
    input[type= "checkbox"]{
        display: none;
    }
    .menu_novo{
        background-color: rgba(250, 245, 245, 0.925);
        height: 100%;
        width: 200px;
        left: -200px;
        position: absolute;
        transition: all .5s;
    }
    input[type= "checkbox"]:checked ~ nav
    {
        transform: translateX(200px);
    }
    .ul_menu{
        top: 70px;
        position: absolute;
        width: 100%;
    }
    .li_menu{
        display: flex;
        align-items: center;
    }
    .a_menu{
        display: block;
        padding: 20px 5px;
        color: #797979;
        font-size: 2rem;
        
    }
    i:hover{
        color: #0C80B1;
    }
    .a_menu:hover{
        width: 100%;
        background-color: #a8bcf7;
        color: #0C80B1;
    }
    
    label{
        padding: 30px;
        position: absolute;
        z-index: 1;
    }
    
 }