html {
  scroll-behavior: smooth;
}

#body {
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/PAG_WEB.png);
  color: white;
  font-family: "Oswald", sans-serif;
}
header {
  display: flex;
  font-size: 3rem;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
main {
  display: grid;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  height: 100%;
}

.voltar {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  transition: all 0.5s;
  color: rgb(117, 117, 247);
}
.voltar:hover {
  color: blue;
}
