.campaigns__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.campaigns__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.campaigns__content {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  align-items: center;
  color: #000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  gap: 82px;
}

p {
  color: #000;
}

.campaigns__description {
  display: grid;
  justify-items: center;
  gap: 24px;
}

.description__texts {
  color: #000;
  display: grid;
  gap: 12px;
  font-size: 2.25rem;
}

.actions {
  display: grid;
  gap: 18px;
}

.action__add {
  background-color: #2c62f1;
  color: white;
  border-radius: 5px;
  height: 56px;
  width: 258px;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action__see {
  background-color: transparent;
  border: 1px solid #2c62f1;
  color: black;
  border-radius: 5px;
  height: 56px;
  width: 258px;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TRANSITION STYLE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
