.help__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.help__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.help__content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  color: #000;
}

p {
  color: #000;
}

.help__introduction {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 36px;
  border-bottom: 1px solid #6d6868;
}

.help__text {
  max-width: 486px;
  text-align: center;
}

.help__contact {
  display: grid;
  gap: 32px;
}

.contact__title {
  margin-top: 32px;
  font-size: 2.5rem;
  font-family: "Abel";
  font-weight: normal;
  color: #000;
}

.contact__text {
  max-width: 856px;
}

.help__contacts {
  display: grid;
  gap: 16px;
  font-size: 1.5rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 16px;
}