.redefine-password__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.redefine-password__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.redefine-password__content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.redefine-password-introduction {
  display: grid;
  grid-template-areas:
    "title title"
    "image text"
    "image recommendations"
    "image action";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  margin: 32px 38px 0px 38px;
  justify-items: center;
}

.redefine-password__image {
  grid-area: image;
  width: 492px;
  height: 498px;
  margin-left: 200px;
}

.redefine-password-introduction > .redefine-password__title {
  grid-area: title;
  background-color: #638BFF;
  color: #fff;
  border-radius: 10px;
  padding: 10px 24px;
  width: 100%;
  margin-bottom: 42px;
}

.redefine-password__text-container {
  grid-area: text;
  margin-bottom: 36px;
}

.redefine-password__text {
  font-size: 1.75rem;
}

.redefine-password-recommendations-container {
  grid-area: recommendations;
  display: flex;
  gap: 16px;
}

.recomendation-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #7395f7;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px;
  max-width: 98px;
}

.recomendation__title {
  font-size: 1.5rem;
}

.recomendation__description {
  font-size: 1.25rem;
  color: #707070;
}

.redefine-password-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  gap: 52px;
}

.redefine-password__inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__password-container {
  grid-area: password;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.password__label {
  font-size: 1.5rem;
  color: #000;
}

.password__input {
  border: var(--input-border);
  width: 418px;
  height: 46px;
  border-radius: 5px;
  width: 418px;
  height: 46px;
  font-size: 1.5rem;
  color: #000;
  font-family: "Abel";
  padding-left: 12px;
}

.form__password-container i {
  position: absolute;
  right: 16px;
  top: 54px;
  color: #7395f7;
  font-size: 1.5rem;
  cursor: pointer;
}

.form__password-confirmation-container {
  grid-area: password-confirmation;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  margin: 0 auto;
}

.password-confirmation__label {
  font-size: 1.5rem;
  color: #000;
}

.password-confirmation__input {
  border: var(--input-border);
  width: 418px;
  height: 46px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #000;
  font-family: "Abel";
  padding-left: 12px;
}

.form__password-confirmation-container i {
  position: absolute;
  right: 16px;
  top: 54px;
  color: #7395f7;
  font-size: 1.5rem;
  cursor: pointer;
}

.redefine-password__buttons {
  display: flex;
  gap: 56px;
}

.button__cancel {
  font-size: 1.35rem;
  color: #fff;
  font-family: "Abel";
  background-color: #ee5353;
  width: 148px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
}

.button__redefine-password {
  font-size: 1.35rem;
  color: #fff;
  font-family: "Abel";
  background-color: #2c62f1;
  width: 148px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
}

/* TRANSITION STYLE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}