.redefine-password__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.redefine-password__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile__name {
  font-size: 1.25rem;
  max-width: 155px;
  text-align: center;
}

.redefine-password__content {
  display: flex;
  flex-direction: column;
  background-color: #afafaf;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
}

.redefine-password-introduction {
  display: grid;
  grid-template-areas:
    "image title"
    "image text"
    "image recommendations";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 52px;
  margin-top: 72px;
}

.redefine-password__image {
  grid-area: image;
  width: 352px;
  height: 268px;
}

.redefine-password__title {
  grid-area: title;
}

.redefine-password__text-container {
  grid-area: text;
}

.redefine-password__text {
  font-size: 1.25rem;
}

.redefine-password-recommendations-container {
  grid-area: recommendations;
  display: flex;
  gap: 16px;
}

.recomendation-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #7395f7;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px;
  max-width: 72px;
}

.recomendation__title {
  font-size: 1.25rem;
}

.recomendation__description {
  font-size: 0.875rem;
  color: #707070;
}

.redefine-password-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  gap: 52px;
}

.redefine-password__inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input__new-password {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-password__label {
  font-size: 1.5rem;
  color: #000;
}

.new-password__input {
  border: 1px solid #7395f7;
  border-radius: 5px;
  width: 418px;
  height: 46px;
  font-size: 1.5rem;
  color: #000;
  font-family: "Abel";
  padding-left: 12px;
}

.input__new-password-confirmation {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-password-confirmation__label {
  font-size: 1.5rem;
  color: #000;
}

.new-password-confirmation__input {
  border: 1px solid #7395f7;
  border-radius: 5px;
  width: 418px;
  height: 46px;
  font-size: 1.5rem;
  color: #000;
  font-family: "Abel";
  padding-left: 12px;
}

.redefine-password__buttons {
  display: flex;
  gap: 76px;
}

.button__cancel {
  font-size: 1.125rem;
  color: #fff;
  font-family: "Abel";
  background-color: #ee5353;
  width: 128px;
  height: 42px;
  border-radius: 5px;
}

.button__redefine-password {
  font-size: 1.125rem;
  color: #fff;
  font-family: "Abel";
  background-color: #2c62f1;
  width: 128px;
  height: 42px;
  border-radius: 5px;
}
