.donation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.donation__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.donation__content {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  align-items: center;
  color: #000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  flex-direction: column;
  max-height: 88vh;
  overflow-y: scroll;
  margin: 0px 32px;
}

p {
  color: #000;
}

.donation__graphs {
  max-width: 1800px;
  max-height: 70vh;
  overflow-y: scroll;
  display: grid;
  grid-template-areas:
    "bar doughnut"
    "line line";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 32px 32px;
  column-gap: 32px;
}

.bar-graph-container {
  grid-area: bar;
  width: 800px;
  height: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bar-year__select {
  width: 190px;
  border: 1px solid #7395f7;
  padding: 6px;
  border-radius: 5px;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
  height: 42px;
}

.doughnut-graph-container {
  grid-area: doughnut;
  display: flex;
  width: 800px;
  height: 100%;
  max-height: 500px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 32px;
}

#doughnut-graph {
  transform: translateX(-120px);
}

.doughnut__blood-types {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translateX(-140px);
  justify-content: flex-end;
}

.doughnut__label-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.graph-label__text__before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.graph-label__title {
  font-size: 1.75rem;
}

.line-graph-container {
  margin-top: 48px;
  grid-area: line;
  width: 100%;
  height: 720px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 32px 32px 64px 72px;
  display: flex;
  flex-direction: column;
}

.donation__add-container {
  display: flex;
}

.add__introduction {
  display: flex;
  gap: 32px;
  background-color: #638bff;
  border-radius: 10px;
  width: 100%;
  margin: 24px;
}

.add-introduction__text {
  color: white;
  font-size: 2rem;
  display: flex;
  align-self: center;
  text-align: center;
  padding-right: 12px;
}

.add-actions {
  background-color: #638bff;
  margin: 24px;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  width: 60%;
}

.action__blood-type {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blood-type__label {
  color: white;
  font-size: 1.75rem;
}

.blood_type__select {
  width: 180px;
  border: 1px solid #7395f7;
  padding: 6px;
  border-radius: 5px;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
  height: 42px;
}

.action__quantity {
  display: flex;
  gap: 12px;
}

.quantity__input {
  border: var(--input-border);
  border-radius: 5px;
  width: 165px;
  height: 42px;
  font-size: 1.5rem;
  font-family: "Abel";
  padding-left: 12px;
}

.quantity__label {
  color: white;
  font-size: 1.75rem;
}

.action__year {
  display: flex;
  align-items: center;
  gap: 12px;
}

.year__label {
  color: white;
  font-size: 1.75rem;
}

.year__select {
  width: 300px;
  border: 1px solid #7395f7;
  padding: 6px;
  border-radius: 5px;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
  height: 42px;
}

.year__option {
  color: #000;
}

.action__button {
  background-color: transparent;
  color: white;
  font-size: 1.75rem;
  font-family: "Abel";
  border: 1px solid white;
  cursor: pointer;
  width: 152px;
  padding: 4px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 12px;
}

.action__button:hover {
  background-color: white;
  color: #638bff;
  transition: all 0.5s;
}
