.side-nav {
  padding: 30px 0 30px 0;
  display: none;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "company"
    "nav"
    "logout";
  gap: 40px;
  height: 100%;
  border-right: 1px solid #DDE5E9;
  width: 280px;
  max-height: 100vh;
  position: relative;
}

.company {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-left: 36px;
  margin-bottom: 24px;
}

.company__image {
  width: 54px;
  height: 54px;
}

.close__button {
  position: absolute;
  top: 42px;
  right: -12px;
}

.navigation {
  grid-area: nav;
  width: 100%;
}

.navigation-fields-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.navigation-field {
  gap: 22px;
  align-items: center;
  min-height: 58px;
  display: flex;
}

.navigation-field:hover {
  background-color: #dae3ff;
  transition: all 100ms ease-in-out;
  border-right: 3px solid #2c62f1;
  color: #2c62f1;
}

.navigation-field a {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 58px;
  border-radius: 10px;
  margin-left: 32px;
}

.navigation-field__name {
  font-weight: 500;
  font-size: 1.25rem;
}

.log-out__button {
  background-color: transparent;
  color: #000;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  border: 0;
  transition: all 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
}

.log-out__text {
  font-size: 1.25rem;
  font-weight: 600;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #bbbbbd;
}

html ::-webkit-scrollbar-track {
  background: #ededed;
}
