header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 92px 112px 32px 112px;
}

.hospital-registration-parts {
  width: 100%;
  border: 1px solid #527df9;
  border-radius: 20px;
  padding: 20px 58px;
  display: flex;
  justify-content: space-between;
}

.registration-part {
  display: flex;
  gap: 12px;
  align-items: center;
}

.registration-part__radio {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid #527df9;
}

.radio-active {
  background-color: #527df9;
}

.registration-part__text {
  font-size: 1.375rem;
}

main {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.hospital-registration__image {
  width: 558px;
  height: 558px;
}

input {
  border-radius: 5px;
  width: 314px;
  height: 46px;
  padding-left: 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

label {
  font-family: "Montserrat";
  font-weight: 600;
}

.hospital-registration-part-one-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "name CNPJ"
    "email phone"
    "URL URL"
    "button button";
  justify-items: center;
  gap: 32px;
  align-self: center;
}

.form__photo-container {
  grid-area: photo;
}

.form__photo-container input[type="file"] {
  display: none;
}

.form__photo-container label {
  padding: 90px 145px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--input-border);
  position: relative;
}

.form__photo-container label::before {
  content: "Foto:";
  position: absolute;
  color: #000;
  top: -36px;
  left: 0;
}

.form__photo-container label::after {
  content: "";
}

.form__photo-selected-container {
  grid-area: photo;
  max-width: 300px;
  height: 300px;
  width: 300px;
  max-height: 300px;
}

.photo__photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.form__name-container {
  grid-area: name;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name__input {
  border: var(--input-border);
}

.form__CNPJ-container {
  grid-area: CNPJ;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.CNPJ__input {
  border: var(--input-border);
}

.form__email-container {
  grid-area: email;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.email__input {
  border: var(--input-border);
}

.form__phone-container {
  grid-area: phone;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.phone__input {
  border: var(--input-border);
}

.form__password-container {
  grid-area: password;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.password__input {
  border: var(--input-border);
  position: relative;
}

.form__password-container i {
  position: absolute;
  right: 16px;
  top: 45px;
  color: #7395f7;
  font-size: 1.5rem;
}

.form__password-confirmation-container {
  grid-area: password-confirmation;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.password-confirmation__input {
  border: var(--input-border);
}

.form__password-confirmation-container i {
  position: absolute;
  right: 16px;
  top: 45px;
  color: #7395f7;
  font-size: 1.5rem;
}

.form__URL-container {
  grid-area: URL;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.URL__input {
  border: var(--input-border);
  width: 660px;
}

.hospital-registration__button {
  grid-area: button;
  width: 160px;
  height: 46px;
  background: #4e7bf2;
  border-radius: 5px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
}

/* TRANSITION STYLE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}