.statistics__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.statistics__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile__name {
  font-size: 1.25rem;
  max-width: 155px;
  text-align: center;
}

.statistics__content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
}

.statistics__schedules {
  display: flex;
  gap: 64px;
  width: 676px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  margin-left: 92px;
  margin-top: 42px;
}

.schedules__schedules-introduction {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.schedules-introduction__title {
  font-size: 2.5rem;
  font-family: "Abel";
  font-weight: normal;
  color: #000;
}

.schedules-introduction__image {
  width: 234px;
  height: 186px;
}

.schedules__schedules-graph {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.schedules-graph__graph {
  position: relative;
  width: 200px;
  height: 200px;
}

.graph__total-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.total__text {
  color: #6d6868;
}

.total__number {
  font-size: 1.125rem;
}

.schedules-graph__labels {
  display: flex;
  gap: 22px;
}

.graph-label-container {
  display: grid;
  grid-template-areas:
    "title title"
    "label-color label-text";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 6px;
  row-gap: 4px;
  align-items: center;
}

.graph-label__title {
  grid-area: title;
  font-size: 1rem;
  color: #6d6868;
}

.graph-label__text__before {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.graph-label__text {
  grid-area: label-text;
  font-size: 1.125rem;
}

.statistics__reviews {
  display: grid;
  grid-template-areas:
    "title title"
    "summary comments";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 68px 92px 92px 92px;
  padding-top: 52px;
  border-top: 1px solid #d9d9d9;
}

.reviews__title {
  grid-area: title;
  font-size: 2.5rem;
  font-family: "Abel";
  font-weight: normal;
  color: #000;
  margin-bottom: 38px;
}

.reviews__graph-review-container {
  padding-right: 32px;
}

.graph-review__graph-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.graph__bar-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bar__line-container {
  height: 100%;
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 12px;
}

.line__progress {
  height: 100%;
  background-color: #7395f7;
  width: 30%;
  border-radius: 12px;
}

.bar__label-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.label__number {
  font-size: 1.25rem;
  color: #6D6868;
}

.label__star {
  font-size: 1rem;
  color: #6D6868;
}

.graph-review__summary-container {
  grid-area: summary;
  display: grid;
  grid-template-areas:
    "average stars"
    "average total";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 22px;
  row-gap: 12px;
}

.summary__average {
  grid-area: average;
  font-size: 5.75rem;
  color: #7395f7;
}

.summary__stars-container {
  grid-area: stars;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.summary__stars-container i {
  font-size: 1.5rem;
  color: #7395f7;
}

.summary__total {
  grid-area: total;
  font-size: 1.5rem;
  color: #6d6868;
}

.bar__line-container {
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.reviews__comments-container {
  grid-area: comments;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-left: 1px solid #d9d9d9;
  padding: 32px 0px 32px 32px;
}

.comment-container {
  display: grid;
  grid-template-areas:
    "image donator date"
    "image stars ."
    "text text text";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  width: 412px;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  column-gap: 10px;
  padding: 12px;
}

.comment__image {
  grid-area: image;
  width: 42px;
  height: 42px;
}

.comment__donator {
  grid-area: donator;
  color: #000;
  font-size: 0.75rem;
  margin-top: 6px;
}

.comment__stars-container {
  grid-area: stars;
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}

.comment__stars-container i {
  font-size: 0.75rem;
  color: #7395f7;
}

.comment__date {
  grid-area: date;
  color: #959595;
  font-size: 0.625rem;
}

.comment__text {
  grid-area: text;
  color: #000;
  font-size: 0.75rem;
  max-width: 372px;
  margin-top: 12px;
}
