#login {
  background: linear-gradient(to right, #638bff 50%, #fff 50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1206px;
  width: 100%;
  height: 806px;
  background: linear-gradient(to right, #527df9 50%, #ebf0ff 50%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  position: relative;
}

.login-introduction {
  display: flex;
  align-self: center;
}

.login-introduction__text {
  font-size: 3rem;
  color: #fff;
  font-weight: normal;
  text-transform: none;
  max-width: 400px;
  text-align: center;
}

input {
  border-radius: 5px;
  width: 462px;
  height: 58px;
  padding-left: 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

label {
  font-weight: 600;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.form__introduction {
  display: grid;
  gap: 8px;
}

.introduction__title {
  font-size: 4rem;
  color: #000;
  font-weight: normal;
  font-family: "Abel", sans-serif;
}

.form__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__email-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.email__input {
  border: var(--input-border);
  font-size: 1.5rem;
  padding-left: 60px;
}

.email__icon {
  position: absolute;
  left: 18px;
  top: 62px;
  color: #7395f7;
  font-size: 1.75rem;
}

.form__password-container {
  grid-area: password;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.password__input {
  border: var(--input-border);
  position: relative;
  font-size: 1.5rem;
  padding-left: 60px;
}

.password-padlock__icon {
  position: absolute;
  left: 18px;
  top: 62px;
  color: #7395f7;
  font-size: 1.75rem;
}

.password-eye__icon {
  position: absolute;
  right: 16px;
  top: 62px;
  color: #7395f7;
  font-size: 1.75rem;
  cursor: pointer;
}

.login__button {
  width: 462px;
  height: 58px;
  background: #4e7bf2;
  border-radius: 5px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
}

.login__forgot-password {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin: 0px 125px;
  font-size: 1.5rem;
}

/* ORNAMENTS */
.login-ornament-image-1 {
  position: absolute;
  top: 0;
  left: 38px;
}

.login-ornament-image-2 {
  position: absolute;
  top: 90px;
  left: 64px;
}

.login-ornament-image-3 {
  position: absolute;
  top: 66px;
  left: 355px;
}

.login-ornament-image-4 {
  position: absolute;
  bottom: 24px;
  left: 55px;
}

.login-ornament-image-5 {
  position: absolute;
  bottom: 0px;
  left: 252px;
}

.login-ornament-image-6 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.login-ornament-image-7 {
  position: absolute;
  top: 0px;
  right: 0px;
}