.scheduling__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.scheduling__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.scheduling__content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.scheduling__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px 48px;
  gap: 48px;
}

.action-introduction {
  display: flex;
  gap: 12px;
  align-items: center;
}

.action-introduction__image {
  width: 24px;
  height: 24px;
}

.action-introduction__title {
  font-size: 1.5rem;
}

.scheduling__inputs {
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.input__search-container {
  position: relative;
  width: 100%;
}

.input__search {
  border: var(--input-border);
  border-radius: 5px;
  width: 100%;
  height: 48px;
  font-size: 1.5rem;
  font-family: "Abel";
  padding-left: 52px;
}

.input__search-icon {
  position: absolute;
  color: #638bff;
  font-size: 1.5rem;
  top: 13px;
  left: 16px;
}

.select__status {
  width: 200px;
  border: 1px solid #7395f7;
  padding: 6px;
  border-radius: 5px;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
  height: 48px;
}

/* TABLE STYLE */
.scheduling__schedules {
  display: flex;
  justify-content: center;
}

.schedules__table {
  width: 95%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0px 24px;
}

thead,
tbody {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

tbody {
  max-height: 65vh;
  overflow-y: scroll;
}

tr {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table__title {
  background-color: #638bff;
  color: #fff;
  width: 100%;
  padding: 10px 18px;
  padding-right: 24px;
}

tr {
  position: relative;
  display: grid;
  grid-template-columns: 60px 370px 150px 100px 1fr 160px 120px;
  gap: 28px;
  text-align: start;
  align-items: center;
}

th {
  text-align: start;
}

.table__content {
  padding: 0px 18px;
}

.table__content:hover {
  transition: all 0.5s;
  background: rgba(209, 209, 209, 0.25);
  border-radius: 10px;
}

tr:not(:first-child) {
  position: relative;
}

tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 96%;
  border-bottom: 1px solid #dde5e9;
  margin: 0 auto;
  transform: translateX(2%);
}

td,
th {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

th {
  font-family: "Abel";
  font-size: 1.75rem;
  font-weight: normal;
}

td {
  font-size: 1.5rem;
}

/* .table__observation {
  position: absolute;
  bottom: -40px;
  background-color: #F6F6F6;
  padding: 0px 18px;
}

.observation__title {
  font-size: 1.5rem;
  font-weight: 900;
}

.observation__text {
  color: black;
  font-size: 1.5rem;
} */

.content__donator a {
  display: flex;
  align-items: center;
  gap: 18px;
}

.donator__image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

/* STATUS STYLE */

.content__status {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  width: 75%;
  cursor: pointer;
}

.status__text {
  border-radius: 5px;
  padding: 8px;
}

.scheduled {
  color: #2c62f1;
  background-color: #dae3ff;
}

.concluded {
  color: #6ab39d;
  background-color: #f0f9f3;
}

.pending {
  color: #f43434;
  background-color: #fdc4c4;
}

.rescheduled {
  color: #e5c05e;
  background-color: #fbf4e4;
}

.title__action,
.content__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content__actions img {
  width: 28px;
  margin-top: 10px;
  cursor: pointer;
}

.content__actions {
  gap: 16px;
}

.action__none {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7395f7;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 80%;
  color: #fff;
}