#scheduling-dashboard {
  max-height: 100vh;
  overflow-y: scroll;
}

.scheduling__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.scheduling__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.profile__name {
  font-size: 1.25rem;
  max-width: 155px;
  text-align: center;
}

.scheduling__content {
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */
  background-color: #afafaf;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
}

.scheduling__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px 36px;
}

.action-introduction {
  display: flex;
  gap: 12px;
}

.action-introduction__image {
  width: 16px;
  height: 16px;
}

.action-introduction__title {
  font-size: 0.75rem;
}

.schedules__table {
  display: flex;
  border-spacing: 20px;
  border-collapse: separate;
  width: 100%;
}

tr,
td,
th {
  margin: auto;
  padding: 10px;
}

th {
  text-align: start;
  font-family: "Abel";
  font-size: 1.125rem;
  font-weight: normal;
}

tr {
  text-align: center;
}

tr:not(:first-child) {
  position: relative;
}

tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 98%;
  border-bottom: 1px solid #dde5e9;
}

.content__donator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.donator__image {
  width: 24px;
  height: 24px;
}

.content__actions {
  display: flex;
  gap: 18px;
}

.content__actions img {
  width: 20px;
  height: 20px;
}

.action__none {
  color: #fff;
  background-color: #7395f7;
  border-radius: 5px;
  margin: auto;
}

.content__status {
  padding: 12px;
  border-radius: 5px;
}

/* STATUS STYLE */
.scheduled {
  color: #2c62f1;
  background-color: #dae3ff;
}

.concluded {
  color: #6ab39d;
  background-color: #f0f9f3;
}

.pending {
  color: #f43434;
  background-color: #fdc4c4;
}

.rescheduled {
  color: #e5c05e;
  background-color: #fbf4e4;
}
