.campaigns__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.campaigns__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.campaigns__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border-radius: 12px;
  height: 88vh;
  margin: 0px 32px;
  align-items: center;
  color: #000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  gap: 48px;
  overflow-y: scroll;
}

p {
  color: #000;
}

.campaign__introduction {
  height: 100%;
  width: 100%;
  background-color: #527DF9;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campaign__title {
  color: #ffffff;
  max-width: 70%;
  display: flex;
  align-self: center;
  text-align: center;
  font-size: 4rem;
}

.campaign__add {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.add__date-container {
  display: grid;
  gap: 6px;
}

.date__label {
  font-size: 1.5rem;
}

.date__datetime-local {
  width: 252px;
  border: 1px solid #7395f7;
  padding: 6px;
  border-radius: 5px;
  font-family: "Abel";
  font-size: 1.5rem;
  cursor: pointer;
}

.add__description-container {
  display: grid;
  gap: 6px;
}

.description__label {
  font-size: 1.5rem;
}

.description__textarea {
  border-radius: 5px;
  border: var(--input-border);
  resize: none;
  width: 508px;
  height: 194px;
  padding: 12px 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

.form__photo-container {
  width: 508px;
  margin-top: 32px;
}

.form__photo-container input[type="file"] {
  display: none;
}

.form__photo-edit-container input[type="file"] {
  display: none;
}

.form__photo-container label {
  padding: 90px 145px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--input-border);
  position: relative;
}

.form__photo-container label::before {
  content: "Foto:";
  position: absolute;
  color: #000;
  top: -36px;
  left: 0;
  font-size: 1.5rem;
}

.form__photo-edit-container label {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: fit-content;
}

.form__photo-container label::after {
  content: "";
}

.edit-photo {
  color: #2c62f1;
  font-size: 2rem;
}

.form__photo-selected-container {
  max-width: 378px;
  height: 378px;
  width: 378px;
  max-height: 378px;
  margin-left: 58px;
  position: relative;
}

.photo__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
}

.add__button {
  background-color: #2c62f1;
  color: white;
  border-radius: 5px;
  height: 52px;
  width: 258px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: 126px;
  margin-bottom: 52px;
}

/* TRANSITION STYLE */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
