.donator__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 48px;
}

.donator__title {
  font-size: 2.5rem;
  color: #000;
  font-family: "Abel";
  font-weight: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__image {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.profile__name {
  font-size: 1.5rem;
  max-width: 228px;
  text-align: center;
}

.donator-wrapper {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.donator__content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0px 32px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.donator-container {
  display: grid;
  grid-template-areas:
    "image name name"
    "image email age"
    "image phone gender"
    "image blood-type weight";
  grid-template-columns: auto 350px 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  margin: 58px 58px 0px 82px;
  padding-bottom: 64px;
  border-bottom: 1px solid #dde5e9;
  column-gap: 24px;
}

.donator__image {
  grid-area: image;
  margin-right: 72px;
  width: 302px;
  height: 302px;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  object-position: center center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid #eee;
}

.donator-container span {
  font-size: 1.75rem;
}

.donator__name {
  grid-area: name;
  font-size: 2.75rem;
  font-family: "Abel";
  font-weight: normal;
  color: #000;
}

.donator__email {
  grid-area: email;
  display: flex;
  gap: 12px;
  align-items: center;
}

.donator__phone {
  grid-area: phone;
  display: flex;
  align-items: center;
  gap: 12px;
}

.phone__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.email__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.donator__blood-type {
  grid-area: blood-type;
  display: flex;
  gap: 12px;
  align-items: center;
}

.blood-type__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.donator__age {
  grid-area: age;
  display: flex;
  gap: 12px;
  align-items: center;
}

.age__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.donator__gender {
  grid-area: gender;
  display: flex;
  gap: 12px;
  align-items: center;
}

.gender__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.donator__weight {
  grid-area: weight;
  display: flex;
  gap: 12px;
  align-items: center;
}

.weight__text {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 4px 8px;
}

.schedules {
  background-color: #fff;
  margin: 0px 32px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.schedules__title {
  font-size: 2.5rem;
  font-family: "Abel";
  font-weight: normal;
  color: #000;
  margin: 36px 48px;
}

/* TABLE STYLE */

.schedules__table {
  margin: 32px 0px;
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
}

.scheduling__schedules {
  display: flex;
  justify-content: center;
}

thead,
tbody {
  width: 100%;
  display: table;
  table-layout: fixed;
}

tr {
  display: table-row;
  position: relative;
}

tr:not(:first-child) {
  position: relative;
}

tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 96%;
  border-bottom: 1px solid #dde5e9;
  margin: 0 auto;
  transform: translateX(2%);
}

td,
th {
  display: table-cell;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
}

th {
  font-family: "Abel";
  font-weight: normal;
  font-size: 1.75rem;
}

.table__title {
  background-color: #638bff;
  color: #fff;
}

.table__content {
  font-size: 1.5rem;
}

.title__id {
  width: 100px;
}

.content__id {
  width: 100px;
}

.title__hour {
  width: 100px;
}

.content__hour {
  width: 100px;
}

.content__actions img {
  width: 28px;
  height: 28px;
}

/* STATUS STYLE */

.title__status {
  width: 140px;
}

.content__status {
  position: relative;
  width: 140px;
  text-align: center;
}

.status__text {
  border-radius: 5px;
  padding: 8px;
}

.scheduled {
  color: #2c62f1;
  background-color: #dae3ff;
}

.concluded {
  color: #6ab39d;
  background-color: #f0f9f3;
}

.pending {
  color: #f43434;
  background-color: #fdc4c4;
}

.rescheduled {
  color: #e5c05e;
  background-color: #fbf4e4;
}

.title__action,
.content__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content__actions img {
  margin-top: 5px;
  cursor: pointer;
}

.content__actions {
  gap: 16px;
}

.action__none {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7395f7;
  border-radius: 5px;
  padding: 8px;
  width: 60px;
  height: 100%;
  color: #fff;
  font-size: 1.25rem;
}
